<!doctype html>
<html>
    <head>
        <title>Detection of aggressive tweets</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>

    <body>
        <h1>DETECTOR OF AGGRESSIVE TWEETS</h1>

        <h2>Content: <i>{{ content }}</i></h2>
        <h2>Prediction: {{ prediction }}</h2>
        <h2>Probability: {{ probability }} %</h2>
        <h2>Similarity to aggressive tweets: {{ similarity }}</h2>

        <form action="/">
            <div>
                <input type=submit value="ONCE AGAIN">
            </div>
        </form>
        
    </body>
</html>