<!doctype html>
<html>
    <head>
        <title>Detection of aggressive tweets</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>

    <body>
        <h1>DETECTOR OF AGGRESSIVE TWEETS</h1>

        <form method="post" action="/results">

            <select class="form-control" id="clf" name="clf">
                <option value="rnn">RNN</option>
                <option value="lr">LogisticRegression</option>
                <option value="xgb">XGBClassifier</option>
                <option value="svm" selected>SVM (rbf)</option>
                <option value="bag">BaggingClassifier (decision tree)</option>
            </select>

            <div>{{ form.content }}</div>

            <div>
                <input type=submit value="TEST">
            </div>
        </form>
    </body>
</html>